<div>
  <h3>Recent Comments</h3>
  <% @blog.comments.order("created_at desc").each do |comment| %>
    <div>
      <%= comment.message %>
    </div>
    <div style="color: grey" class="fw-light">
      <span>Posted by: <%= comment.email %> <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago</span>
      <%= button_to "Delete Comment", [comment.blog, comment], class: "btn btn-danger", method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this comment?" } } %>
    </div>
    <hr />
  <% end %>
</div>
